# MinIO
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password123
WAREHOUSE_BUCKET=warehouse
AWS_ACCESS_KEY_ID=admin
AWS_SECRET_ACCESS_KEY=password123
AWS_REGION=us-east-1
S3_ENDPOINT=http://minio:9000

# Nessie
NESSIE_URI_V1=http://nessie:19120/api/v1
NESSIE_URI_V2=http://nessie:19120/api/v2
NESSIE_REF=main

# Kafka
KAFKA_BOOTSTRAP=kafka:9092
KAFKA_BOOTSTRAP_EXTERNAL=localhost:29092

# PostgreSQL
POSTGRES_USER=lamf
POSTGRES_PASSWORD=lamf
POSTGRES_DB=lamf

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Airflow
AIRFLOW_UID=50000
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin
